body {
  position: relative;
  font: 13px droid-sans-1, droid-sans-2, "Droid Sans", sans-serif;
  line-height: 1.5em;
  text-align: justify;
  background: #fff;
  color: #111;
  width: 1000px;
  margin: 50px auto;
}

h1, h2, h3, h4 {
  color:#b22222;
  background-color:#fff;
  font: "Verdana";
  margin: 0;
  padding: 0;
}

#navigation {
  color:#b22222;
  background-color:#fff;
  font: "Verdana";
  margin: 0;
  padding: 0;
  text-align: center;

}

.duration {
  float:right;
  color:#484848;
}
#left_callout {
  float: left;
  width: 350px;
  margin-left: -170px;
  margin-right: 30px;
  padding-bottom: 2700px;
  text-align: right;
}

/*#right_callout {
  float: right;
  color:#b22222;
    font: "Verdana";

  width: 260px;
  margin-right: -290px;
  text-align: left;
}
*/
#photo {
  width: 200px;
  height: 227px;
  margin-left: 150px;
  overflow: hidden;}

#photo img {
  position: relative;}

#photo:hover img {
  position: relative;}

div#intro {
  font-size: 14px;
}

#name {
  font-size: 40px;
}

#emailpic {
  padding-top: 5px;
}

a {
  font-weight:bold;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  font-weight:none;
}

.tooltip {
  cursor:help;
}
